@charset "UTF-8";


/* Titulo da Página */
div#titulo h1 {
	font-family: 'Poppins', sans-serif;
	font-size: 40px;
	text-align: center;
	background-color: #de4d44;
	color: white;
	margin-top: 0px;
}

/* Seção Ada, Grace, Margaret e Mary */
.sobre_pessoa h2 {
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
	text-align: center;
	margin-top: 15px;
	padding-top: 15px;
	color: #002E5D;
}

.sobre_pessoa p {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 15px;
	text-align: justify;
	margin-left: 20px;
	margin-right: 20px;
}


/* Imagem Ada, Grace e Mary */
.img_pessoa {
	widht: 400px;
	height: 500px;
	display: block;
	margin: auto;
}

.img_margaret {
	widht: 450px;
	height: 350px;
	display: block;
	margin: auto;
}

/* Video Ada, Grace, Margaret e Mary */
.video_pessoa {
	display: block;
	margin: auto;

}

/* Saiba Mais */
.saiba_mais ul { 
    list-style: none;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
    text-decoration: none;
    padding-top: 0px;
 }


.saiba_mais p {
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: white;
	margin-left: 40px;
	padding-top: 15px;
	padding-bottom: 0px;
}

.saiba_mais {
	background-color: #de4d44;
}



